#root {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 3vh;
}

h2 {
  text-align: center;
}

.writing-praise {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  width: 80%;
}
.writing-praise h3 {
  margin: 0;
}
.writing-praise textarea {
  width: 100%;
  min-height: 10rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  resize: none;
  background-color: #3d444f;
  scrollbar-width: none;
  color: white;
}

.writing-praise button {
  width: 100%;
}

.history-header {
  margin-top: 15vh;
}

.history {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
}

.reading-praise p {
  line-height: 1.5;
  font-size: 1rem;
}

.reading-last-praise span {
}
.reading-last-praise b {
  font-size: 0.8rem;
  text-decoration: none;
}

.fold-btn {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

.old-history {
  background-color: #3d444f;
  padding: 0.1rem 1.2rem;
  margin-top: 1rem;
}
